.card {
  width: 100%;
  min-height: 300px;
  line-height: 1.2;
}

.card:hover {
  box-shadow: 10px 9px 11px -3px rgba(181, 173, 173, 0.79);
}

.card-image {
  height: 120px;
  object-fit: cover;
  object-position: center;
}

.card-body {
  padding: 8px 6px;
}

.card-title {
  margin-bottom: 0;
  font-size: 0.825rem;
}

.author {
  font-size: 0.825rem;
  color: rgba(153, 153, 153, 1);
}

.amount {
  margin: 6px 0 8px;
  font-size: 0.725rem;
  display: flex;
  gap: 15px;
  color: rgba(153, 153, 153, 1);
}

.card-text {
  font-size: 0.725rem;
}

.card-category {
  padding: 12px 10px;
  font-size: 1rem;
  background: rgba(240, 166, 62, 0.2);
}
