.group-link {
  min-width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  font-weight: 700;
  font-size: 0.675rem;
  padding: 5px 12px;
  border: 1px solid rgba(239, 156, 39, 1);
  color: rgba(239, 156, 39, 1);
}

.mySwiper {
  display: none;
  margin-top: 10px;
  width: 500px;
  height: 100px;
}

.swiper-slide {
  width: 140px;
}

.swiper-pagination {
  bottom: 30px;
}

.swiper-pagination-bullet {
  background-color: rgba(239, 156, 39, 1);
}

@media (max-width: 420px) {
  .mySwiper {
    display: block;
  }
}
