.main {
  padding: 15px;
  /* background-color: #fff5f8; */
}

.container {
  width: 100%;
  /* background-color: aqua; */
}

.course-wrapper {
  display: flex;
  gap: 15px;
  min-height: 550px;
}

.breadcrumb ol {
  margin-bottom: 5px;
  font-size: 0.8rem;
}

.title {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 10px;
}

/* Content */

.content {
  background-color: #fff;
  flex-basis: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}

.description {
  border: 2px solid rgba(229, 229, 229, 1);
  padding: 12px 10px;
  border-radius: 4px;
}

.description h2 {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.description p {
  font-size: 0.8rem;
  font-weight: normal;
}

/* Aside */
.aside {
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
}

.content-list {
  height: 450px;
  padding: 40px 18px;
  border: 2px solid rgba(229, 229, 229, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-list h2 {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.content-list ul {
  /* background-color: lime; */
  flex-grow: 2;
}

.content-list li {
  padding: 16px 18px;
  font-size: 0.875rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.content-list span {
  margin-right: 12px;
}

.playing {
  background-color: rgba(234, 247, 254, 1);
}

.lock {
  background-color: rgba(245, 245, 245, 1);
}

/* Read materials */
.read-materials {
  margin-top: 50px;
  max-height: 180px;
  padding: 12px 18px;
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.read-materials h2 {
  font-size: 1.1rem;
  font-weight: 700;
}

.read-materials label {
  font-size: 0.8rem;
}

.btn-aside {
  width: 100%;
  padding: 8px 18px;
  background: rgba(62, 137, 174, 1);
  color: white;
  border: none;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn-aside:hover {
  filter: brightness(115%);
}

/* rounder checkbox */
.rounded {
  border-radius: 50%;
}

/* Cards */
.cards {
  margin-top: 100px;
  background-color: lightgreen;
  width: 100%;
  min-height: 400px;
}
