.main {
  padding: 15px;
  background-color: salmon;
  min-height: 600px;
}

.container {
  width: 100%;
  background-color: aqua;
  min-height: 500px;
}

.course-wrapper {
  display: flex;
}

/* Content */

.content {
  background-color: #fff;
  flex-grow: 1;
  min-height: 400px;
}

.breadcrumb ol {
  margin-bottom: 5px;
  font-size: 0.8rem;
}

.title {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 5px;
}

/* Aside */
.aside {
  background-color: blueviolet;
  flex-grow: 1;
  min-height: 400px;
}
