.btn_detail {
  padding: 0.5em 2em;
  border-radius: 2px;
  background-color: #ef9c27;
  color: #fff;
  transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}
.btn_detail:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
  font-weight: bold;
}
.btn_detail_enroll {
  display: none;
  padding: 0.5em 2em;
  border-radius: 2px;
  background-color: #ef9c27;
  color: #fff;
}
.btn_detail_waiting {
  padding: 0.5em 2em;
  border-radius: 2px;
  background-color: #a36b1c;
  color: #fff;
  font-weight: 600;
}
