.category-container {
  min-height: 720px;

  padding: 50px;
}

.title {
  font-weight: 600;
  opacity: 0.9;
}

.subtitle {
  opacity: 0.9;
  font-weight: 500;
  font-size: 1.6rem;
  margin-top: 10px;
}
