.main {
  /* background-color: #fff5f8; */
  margin-bottom: 40px;
}

.container {
  width: 100%;
  /* background-color: aqua; */
}

.course-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-height: 550px;
}

.header {
  background-color: #fff;
  padding: 18px 25px 0;
}

.breadcrumb ol {
  margin-bottom: 5px;
  font-size: 0.8rem;
}

.title {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0;
  padding-bottom: 10px;
}

/* Content */

.content {
  padding: 0 25px 50px;
  background-color: #fff;
  display: flex;
  gap: 30px;
}

.video-player {
  flex-basis: 65%;
}

.content-list {
  flex-basis: 35%;
  height: 450px;
  overflow-y: scroll;
  padding: 40px 18px;
  border: 2px solid rgba(229, 229, 229, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-list h2 {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.content-list ul {
  /* background-color: lime; */
  flex-grow: 2;
  padding-left: 0;
}

.content-video {
  padding: 16px 18px;
  font-size: 0.875rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.active {
  background-color: #eaf7fe;
}

.content-video:hover {
  background-color: #eaf7fe;
}

.content-list span {
  margin-right: 12px;
}

.disabled {
  padding: 16px 18px;
  font-size: 0.875rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  cursor: not-allowed;
  background-color: rgba(245, 245, 245, 1);
}

.playing {
  background-color: rgba(234, 247, 254, 1);
}

.lock {
  background-color: rgba(245, 245, 245, 1);
}

/* Description */
.description-wrapper {
  display: flex;
  padding: 0 25px 50px;
  align-items: flex-start;
  gap: 30px;
  margin-top: 15px;
}

.description {
  flex-basis: 65%;
  border: 2px solid rgba(229, 229, 229, 1);
  padding: 12px 10px;
  border-radius: 4px;
  background: #fff;
}

.description h2 {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 8px;
}

.description p {
  font-size: 0.8rem;
  font-weight: normal;
}

/* Read materials */
.read-materials {
  flex-basis: 35%;
  min-height: 150px;
  padding: 12px 18px;
  background-color: #fff;
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.read-materials h2 {
  font-size: 1.1rem;
  font-weight: 700;
}

.read-materials label {
  font-size: 0.8rem;
}

.btn-aside {
  width: 100%;
  padding: 8px 18px;
  background: rgba(62, 137, 174, 1);
  color: white;
  border: none;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn-aside:hover {
  filter: brightness(115%);
}

/* rounder checkbox */
.rounded input[type="checkbox"] {
  border-radius: 50%;
}

.rounded input[type="checkbox"]:focus {
  box-shadow: none;
}

/* .rounded input[type="checkbox"]:checked {
  color: greenyellow;
  background-color: white;
} */

/* Cards gallery */
.cards {
  background-color: #fff;
  margin: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 80px;
}

.container {
  margin: auto;
}

.card-list {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, minmax(180px, 300px));
  gap: 20px;
}

.card-list a {
  max-width: 20vw;
  color: #000;
}

.cards h2 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 30px;
}

/* Media Queries */
@media (min-width: 1550px) {
  .main {
    width: 1600px;
    margin: auto;
  }
}
