.hero {
  background-image: url("../assests/hero-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 50px 110px;
}

.content-container {
  width: 100%;
  min-height: 380px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* Left Side (Title, Button) */

.left {
  width: 400px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.left h1 {
  font-size: 2.275rem;
  font-weight: 700;
  color: #16213b;
}

.hero-btn {
  padding: 0.5em 2em;
  border-radius: 2px;
  background-color: #16213b;
  color: #fff;
}

.hero-btn:hover {
  color: #fff;
  filter: brightness(125%);
}

/* Right Side (Video Player etc) */

.right {
  width: 500px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.react-player {
  width: 80%;
  height: 60%;
}

.right p,
h3 {
  margin: 0;
}

.video-detail {
  width: 100%;
  padding: 16px;
}

.description {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.description-left h3 {
  font-size: 1.105rem;
  font-weight: 600;
}

.amount {
  color: #3e89ae;
  font-weight: 600;
}

.author {
  color: rgba(153, 153, 153, 1);
}

.description-right {
  text-align: end;
  color: rgba(239, 156, 39, 1);
}

/* Media Query */

@media (max-width: 1200px) {
  .hero {
    padding: 50px;
  }
}

@media (max-width: 784px) {
  .hero {
    position: relative;
    height: 300px;
    margin-bottom: 120px;
    padding: 80px;
  }

  .content-container {
    width: 400px;
    padding: 9px 9px;
    box-shadow: 2 2 4 1px black;
    box-shadow: 1px 0px 5px 2px rgba(230, 207, 207, 0.75);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 50px;
    background-color: white;
  }

  .left {
    width: 100%;
    gap: 10px;
    position: relative;
  }

  .left h1 {
    font-size: 1.675rem;
    font-weight: 700;
    margin: auto;
    text-align: center;
  }

  .hero-btn {
    margin: auto;
    padding: 4px 12px;
  }

  .right {
    width: 100%;
    margin: auto;
  }

  .video-detail {
    padding: 8px;
  }
}

@media (max-width: 420px) {
  .hero {
    margin-bottom: 50px;
  }

  .content-container {
    width: 80%;
    min-height: 200px;
  }

  .left h1 {
    font-size: 1.2rem;
  }

  .hero-btn {
    margin: auto;
    padding: 2px 5px;
    font-size: 0.8rem;
  }

  .description-left .amount {
    font-size: 0.8rem;
  }

  .description-left h3 {
    font-size: 0.85rem;
  }

  .description-left .author {
    font-size: 0.8rem;
  }

  .description-right p {
    font-size: 0.8rem;
  }

  .video-detail {
    padding: 0;
  }
}
